


.menu-shown {
    display: block;
    width: 200px;
    height: 100px;
    background-color: rgb(141, 126, 126);
    margin: 0 auto;
}

.menu-hidden {
    display: none;
}

.burger  {
    
        width: 35px;
        height: 5px;
        background-color: rgb(230, 82, 82);
        margin: 6px 0;
      
}

